h1{
    border: solid darkcyan 10px;
    width: 60%;
    text-align: center;
    background-color: black;
    color:tomato;
    animation: borde 1s infinite;
    padding: 5px;
}
body
{
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat; 
    font-family: Arial, sans-serif; 
}
.container
{
    background-color: black;
    width: 80%;
    animation: borde infinite 1s;

}
@keyframes borde {
    0%{border: red solid 5px;}
    30%{border: cyan solid 5px;}
    50%{border: gold solid 5px;}
    80%{border: ghostwhite solid 5px;}
    100%{border:tomato solid 5px;}

}